[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
elasticsearch = "~=6.0"
elasticsearch-dsl = "~=6.0"
django-elasticsearch-dsl = "~=6.0"
django-elasticsearch-dsl-drf = "*"
django-admin-honeypot = {git = "https://github.com/dmpayton/django-admin-honeypot"}
django-smart-selects = {git = "https://github.com/jazzband/django-smart-selects"}
django-ipware = "*"
geoip2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
