[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-admin-honeypot = {git = "https://github.com/dmpayton/django-admin-honeypot"}
django-smart-selects = {git = "https://github.com/jazzband/django-smart-selects"}
django-import-export = "*"
django-jet = "*"
django-filter = "*"
django-csp = "*"
django-robots = "*"
django-autoslug = {git = "https://github.com/justinmayer/django-autoslug"}
django-cleanup = "*"
django-unused-media = "*"
ipinfo-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
