<div class="container has-centered">
    <footer class="footer" style="background-color:var(--main);">
        <div class="content">
            <div class="columns">
                <div class="column is-half">
                    <p class="has-text-left"></p>
                    <span class="is-size-5" style="font-style:italic; font-weight:900; text-transform: uppercase; font-family: Montserrat; color: var(--main-text-color);">Utama</span>
                        &copy; {% now "Y" %}
                    </p>

                </div>
                <div class="column is-half has-text-right">
                    <p>
                        <strong style="color: var(--main-text-color);">Ningún vídeo se encuentra alojado en nuestros servidores.</strong>
                    
                        <br>
                        <strong style="color: var(--main-text-color);">Todos los vídeos enlazados son tomados de internet, de sitios webs gratuitos.</strong>
                    </p>
                </div>
            </div>

        </div>
        
    </footer>
</div>