
<div class="container is-fluid">
    <div class="slider">
        <div id="slider-wrapper" class="slider-wrapper" style="display: flex;">
            {% for slider in populares %}
            <div class="keen-slider__slide number-slide1">
                <div class="slider-cover">
                    <figure class="image is-3by1">
                        <img class="shadow-effect-blur" src="{% url 'background' size='xxlarge' filename=slider.backgroundFilename %}" style="object-fit: cover; object-position: center;" alt="">
                    </figure>
                </div>
                <div class="slide-content columns is-2 is-flex" style="align-items: center;">
                    <!-- create vertical columns -->
                    <div class="column is-one-third" style="z-index: 2;">
                        <div class="slide-content-item">
                            <a href="{% url 'anime' id=slider.id nombre=slider.title %}">
                                <div class="slide-content-item-title block">
                                    <p class="title is-size-3-desktop is-size-3-tablet is-size-5-mobile has-text-left" style="color: var(--main-text-color-hover); text-shadow: 1px 1px 1px #000;">
                                        {{ slider.title }}
                                    </p>
                                </div>
                                <!-- Anime type  -->
                                <div class="slide-content-item-type block">
                                    <p class="subtitle is-6 has-text-left" style="color: var(--main-text-color-hover); text-shadow: 1px 1px 1px rgba(0,0,0,0.5);">
                                        <i class="fas fa-play"></i>
                                        <span>{{ slider.tipo }}</span>
                                    </p>
                                </div>
                                <div class="slide-content-item-description block truncate is-hidden-mobile" style="width: 100%;">
                                    <p class="text is-5 has-text-left" style="color: var(--main-text-color); font-family: Montserrat;">
                                        {{ slider.description }}
                                    </p>
                                </div>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>
<script>
    var slider = new KeenSlider(
          "#slider-wrapper",
          {
            loop: true,
          },
          [
            (slider) => {
              let timeout
              let mouseOver = false
              function clearNextTimeout() {
                clearTimeout(timeout)
              }
              function nextTimeout() {
                clearTimeout(timeout)
                if (mouseOver) return
                timeout = setTimeout(() => {
                  slider.next()
                }, 4000)
              }
              slider.on("created", () => {
                slider.container.addEventListener("mouseover", () => {
                  mouseOver = true
                  clearNextTimeout()
                })
                slider.container.addEventListener("mouseout", () => {
                  mouseOver = false
                  nextTimeout()
                })
                nextTimeout()
              })
              slider.on("dragStarted", clearNextTimeout)
              slider.on("animationEnded", nextTimeout)
              slider.on("updated", nextTimeout)
            },
          ]
        )

</script>