{% extends 'utama/layout.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile is-justify-content-center" style="justify-content: center;">
            <div class="column is-6-mobile is-full-mobile is-hidden-desktop is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                <div class="is-show-mobile ui-box topBottom-rightLeftCorner">
                    <div class="ui-border-element a-container">
                        <figure class="image is-2by3 zoom-out">
                            <img class="shadow-effect-blur" src="{% url 'cover' filename=cover %}" style="object-fit: cover; object-position: center;" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-12-mobile" style="display:flex;z-index: 3;">
                <div class="info-container has-text-left" style="width: 100%;">
                    <div class="episode-count block">
                        {% if anime.tipo == 'Película' %}
                            <span style="color: var(--main-primary-color); font-family: Montserrat;"> Pelicula </span>
                        {% elif count == 1 %}
                            <span style="color: var(--main-primary-color); font-family: Montserrat;"> {{ count }} Capitulo</span>
                        {% else %}
                            <span style="color: var(--main-primary-color); font-family: Montserrat;"> {{ count }} Capitulos</span>
                        {% endif %}
                    </div>
                    <div style="width: 100%;" class="block">
                        <h1 class="title" style="color: var(--main-text-color-hover); font-family: Montserrat; font-style: normal;">{{anime.title}}</h1>
                    </div>
                    <div class="genres-container block" style="font-style:normal; font-weight:400; font-family: Montserrat; font-style: normal; color: var(--main-text-color-hover); text-transform: uppercase;">
                        
                        <div class="columns is-multiline is-2-mobile is-mobile">
                            {% for genre in generos %}
                                <div class="column is-2">
                                    <a href="#">
                                        <p class="is-size-7-mobile">{{ genre.genre }}</span>
                                    </a>
                                </div>
                                
                            {% endfor %}
                        </div>
                        
                    </div>
                    <div class="description-container block">
                        <p class="text description" style="color:var(--main-text-color-hover); font-family: Montserrat;">
                            {{anime.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-4 is-hidden-mobile is-flex-direction-column">
                <div class="image-cover is-hidden-mobile">
                    <figure class="image is-2by3 is-2by4-mobile">
                        <img style="width: auto;" src="{% url 'render' filename=render %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <!-- lista de capitulo -->
        <div class="columns is-multiline is-mobile">
            {% for capitulo in capitulos %}
                <div class="column is-3-desktop is-3-tablet is-4-mobile">
                    <a href="{% url 'ver' id=capitulo.id nombre=capitulo.episode.title %}">
                        <div class="ui-box topBottom-rightLeftCorner">
                            <div class="ui-border-element a-container">
                                <figure class="image is-5by3 zoom-out" >
                                    <img class="dark-effect render" src="{% url 'episode' filename=capitulo.filename%}" alt="Placeholder image">
                                </figure>
                                <div class="anime-info " style="width: 100%;">
                                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-shadow: 1px 1px 1px #000;" class="is-size-5 n-text">{{capitulo.episode.title}}</p>
                                </div>
                                <div class="anime-ep">
                                    <span class="is-size-5">{{ capitulo.episode.episode}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                
            {% endfor %}
        </div>
        
</section>

{% endblock content %}