{% extends 'utama/layout.html' %}
    
{% block content %}

<title>Anime sin anuncios - broadcast</title>


<!-- next anime broadcast -->
<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-5">
            <div class="container">
                <h1 class="title has-text-centered" style="color: var(--main-primary-color); font-family: Montserrat; font-style: italic;">Proximo Estreno</h1>
                <div class="broadcast-info" style="background-image: url({% url 'background' size='medium' filename=animes.0.backgroundFilename %});">
                    <div class="broadcast-info-content">
                        <div class="broadcast-info-content-title">
                            <h1 class="title is-4">{{ animes.0.title }}</h1>
                        </div>
                        <div class="">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- emision de la semanal -->
<section class="section">
    
</section>




{% endblock content %}

