{% extends 'utama/layout.html' %}

{% block content %}

<title>Directorio - Utama</title>


<section class="section">

    <h1 class="subtitle is-3 has-text-centered" style="color: var(--main-primary-color); font-family: Montserrat; font-style: italic;">
        Lista de animes
    </h1>

    <div class="container">
        <form>
        <div class="columns is-multiline is-mobile is-centered">
            <div class="column is-3-desktop is-3-mobile is-3-tablet">
                <div class="tags-container-item-title">
                    <h1 class="subtitle is-5 has-text-centered" style="color: var(--main-text-color-hover); font-family: montserrat;">
                        Orden
                    </h1>
                </div>
                <div class="select-wrapper">
                   {{filter_form.form.ordering}}
                </div>
            </div>
            <div class="column is-3-desktop is-3-mobile">
                <div class="tags-container-item-title">
                    <h1 class="subtitle is-5 has-text-centered" style="color: var(--main-text-color-hover); font-family: montserrat;">
                        Estado
                    </h1>
                </div>
                <div class="select-wrapper is-fullwidth select-estado-container">
                    {{filter_form.form.status}}
                </div>
            </div>
            <div class="column is-3-desktop is-3-mobile">
                <div class="tags-container-item-title">
                    <h1 class="subtitle is-5 has-text-centered" style="color: var(--main-text-color-hover); font-family: montserrat;">
                        Tipo
                    </h1>
                </div>
                <div class="select-wrapper is-fullwidth">
                    {{filter_form.form.tipo}}
                </div>
            </div>
            <div class="column is-3-desktop is-3-mobile">
                <div class="tags-container block">
                    <div class="tags-container-item">
                        <div class="tags-container-item-title">
                            <h1 class="subtitle is-5 has-text-centered" style="color: var(--main-text-color-hover); font-family: montserrat;">
                                Generos
                            </h1>
                        </div>
                        <div class="tags-container-item-content">
                            <div class="tags-container-item-content-item is-5 has-text-justify" style="text-align: justify;">
                                {{filter_form.form.genres}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div id="anime-container" class="columns is-multiline is-mobile">
                {% for anime in filter %}
                <div class="column is-2-desktop is-half-tablet is-4-mobile">
                    <a href="{% url 'anime' id=anime.id nombre=anime.slug %}">
                        <div class="ui-box left-stay">
                            <div class="ui-border-element a-container">
                                <figure class="image is-2by3 zoom-out" >
                                    <img loading="lazy" class="dark-effect lazyload" data-src="{% url 'cover' size='medium' filename=anime.coverFilename %}" alt="{{ anime.title }}">
                                </figure>
                                <div class="anime-info has-text-centered">
                                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-shadow: 1px 1px 1px #000;" class="is-size-5 n-text">{{ anime.title}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container is-centered my-2">
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet is-10-mobile is-10-desktop has-text-centered">
                {% if filter.has_previous %}
                <a href="?page={{ filter.previous_page_number }}" class="btn-search" style="border-radius: 5px; color: var(--main-text-color-hover);">Anterior</a>
                
                {% endif %}
                <span class="current" style="color: var(--main-text-color-hover);">
                    Pagina {{ filter.number }} de {{ filter.paginator.num_pages }}
                </span>
                {% if filter.has_next %}
                <a href="?page={{ filter.next_page_number }}"class="btn-search" style="border-radius: 5px; color: var(--main-text-color-hover);">Siguiente</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>

</section>
{% endblock content %}