{% extends 'utama/layout.html' %}

{% block title %}Ver Anime con Pocos Anuncios{% endblock  %}
{% block title2 %}Utama{% endblock %}
{% block description %}Tus animes Favoritos Sin tantos anuncios{% endblock %}
{% block url %}https://utama.live{% endblock %}
{% block image %}https://utama.live/static/favicon.ico{% endblock %}

{% block content %}

{% include 'utama/partials/_slider.html' with populares=MostPopular %}

<section class="section">
    <div class="container">
        <h1 class="subtitle is-4 has-text-left" style="color: var(--main-text-color-hover);">
            <span class="has-text-primary">
                <i style="color:var(--main-primary-color);" class="fas fa-video"></i>
            </span>
            Ultimos episodios
        </h1>

        <div class="columns is-multiline is-mobile">
            {% for capitulo in caps %}
                <div class="column is-3-desktop is-half-tablet is-6-mobile">
                    <a href="{% url 'ver' id=capitulo.id nombre=capitulo.anime.slug %}">
                        <div class="ui-box topBottom-rightLeftCorner">
                            <div class="ui-border-element a-container">
                                <figure class="image is-5by3 zoom-out" >
                                    <img loading="lazy" class="dark-effect lazyload" data-src="{% url 'episode' size='medium' filename=capitulo.ThumbnailFilename  %}" alt="{{ capitulo.anime.title }}">
                                </figure>
                                <div class="anime-info" style="width: 100%;">
                                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-shadow: 1px 1px 1px #000;" class="is-size-5 is-size-7-mobile n-text">{{ capitulo.anime.title }}</p>
                                </div>
                                <div class="anime-ep">
                                    <span class="is-size-5 is-size-7-mobile">{{ capitulo.episode }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
    </div>
</section>




<!-- LAST ANIMES -->
<section class="section">

    <div class="container">
        <h1 class="subtitle is-4 has-text-left" style="color: var(--main-text-color-hover);">
            <span class="has-text-primary">
                <i style="color:var(--main-primary-color);" class="fas fa-film"></i>
            </span>
            Ultimos Animes
        </h1>
        <div class="columns is-multiline is-mobile">
            {% for serie in series %}
                <div class="column is-3-desktop is-half-tablet is-4-mobile">
                    <a href="{% url 'anime' id=serie.id nombre=serie.slug %}">
                        <div class="ui-box left-stay">
                            <div class="ui-border-element a-container">
                                <figure class="image is-2by3 zoom-out" >
                                    <img loading="lazy" class="dark-effect lazyload" data-src="{% url 'cover' size='medium' filename=serie.coverFilename %}" alt="Placeholder image">
                                </figure>
                                <div class="anime-info has-text-centered">
                                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-shadow: 1px 1px 1px #000;" class="is-size-5 is-size-7-mobile n-text">{{serie.title}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
</section>
{% endblock content %}

