<!DOCTYPE html>
<html lang="es">
  <script async src='https://www.google-analytics.com/analytics.js'></script>
<head>
   
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0NEBX0LSCY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0NEBX0LSCY');
    </script>
    <link rel="stylesheet" href="{% static 'lib/bulma/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'lib/others/border-animations.css' %}">
    <link rel="stylesheet" href="{% static 'utama/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='{% static "favicon.ico" %}' />

</head>
<body >

    {% include 'utama/partials/_navbar.html' %}
    
    {% block content %}
    {% endblock %}

    {% include 'utama/partials/_footer.html' %}
    <script src="{% static 'utama/js/nav.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>

    <script>
        
      $(".btn-tag").click(function(){
                $(".btn-tag-active").removeClass("btn-tag-active");
                $(this).addClass("btn-tag-active");

            });

      </script>
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script>
        $(document).ready(function(){    
          $('#search').keyup(function(){
            const search = $(this).val().trim();


            if(search.length == 0){
              $('#search-result').hide();
              
            }else{
              $('#search-result').show();
              getData(search);
            }
          });
        $('#search').focusout(function(){
          $('#search-result').hide();
        });
        $('#search').focus(function(){
          $('#search-result').show();
        });
    });
    
    
    function getData(search)
    {
      $.ajax({
        url: "{% url 'search' %}",
        headers: {'X-CSRFToken': "{{ csrf_token }}"},
        type: "POST",
        data: {
          search: search,
        },
        success: function(data)
        {
          let html = '';
          for (const row of data.persons){
            console.log(row);
            var imagen = "{% url 'cover' size='small' filename=12345 %}".replace(/12345/, row.image);
            var url = "{% url 'anime' id=12345 nombre=54321 %}".replace(/12345/, row.slug).replace(/54321/, row.title);
            html += `
                  <a href=${url} class="is-flex">
                    <div class="column is-4-desktop is-2-mobile is-3-tablet">
                        <figure class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center image" style="overflow: hidden;">
                            <img class="is-flex-shrink-0" style="min-width: 100%; min-height: auto; max-height: 100%; object-fit: cover;" src="${imagen}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="column is-8-desktop is-8-mobile is-12-tablet is-flex is-flex-direction-column is-justify-content-center">
                        <div class="is-flex is-flex-direction-column">
                            <div class="is-flex">
                                <p class="title is-size-5-desktop is-size-5-tablet is-size-5-mobile" style="color:var(--main-text-color-hover); font-family: Montserrat; font-weight: 400; font-style:normal;">
                                    ${row.title}
                                </p>
                            </div>
                            <!-- tipe -->
                            <div class="is-flex block">
                                <p class="subtitle is-size-5-desktop is-size-6-tablet is-size-7-mobile" style="color:var(--main-primary-color); font-family: Montserrat; font-weight: 400; font-style:normal;">
                                    <span>
                                        ${row.tipo}
                                    </span>
                                </p>
                            </div>
    
                        </div>
                    </div>
                    </a>
                    <hr style="width: 100%;height:2px;border-width:0;background-color:var(--main-primary-color)">
            `;
          }
          $('#search-result').html(html);
        }
      });
    }


    </script>
    
</body>
</html>