{% extends 'utama/layout.html' %}

{% block content %}

<title>{{episode.title}} Episodio {{episode.episode}} Sub Español - Utama</title>
<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-8">
                <div class="name-container block" style="display: inline-flex;width: 100%;flex-wrap: nowrap;justify-content: space-between; align-items: center;">
                    <div class="name-container-names" style="display: flex; flex-direction: column;">
                        <h1 class="subtitle is-4 has-text-left" style="font-style:normal; font-weight:800; padding: 3px; font-family: Montserrat; font-style: normal; color: var(--main-text-color-hover); margin-bottom: 0;">
                            {{episode.anime.title}} - {{episode.episode}}
                        </h1>
                        <h2 class="subtitle is-6 has-text-left block" style="font-style:normal; font-weight:800; padding: 3px; font-family: Montserrat; font-style: normal; color: var(--main-text-color);">
                            {{episode.anime.titleEn}} - {{episode.episode}}
                        </h2>
                    </div>
                </div>
                <div id="tabs-with-content" class="close">
                    <div class="tabs" >
                      <ul>
                        {% for server in servers %}
                            <li>
                                <a  id="tab" onclick="getServerlink({{ episode.id }}, '{{ server.server }}')">{{ server.server}}</a>
                            </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div>

                        <section  class="tab-content block videoWrapper" style="padding: 0; position: relative; padding-bottom: 56.25%;  padding-top: 25px; height: 0;">
                            <iframe id="framez"  class="iframeWrapper iframe" width="640"  src="{{servers.0.link}}" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0"></iframe>
                        </section>

                    </div>
                    <div style="display: inline-flex; align-items: center; justify-content: space-between; flex-direction: row; width: 100%;" class="my-3">
                        <div class="left-container is-4" style="display: flex; flex-direction: row; align-items: center;">
                            
                            {% if prev.0.id != None %}
                                <div style="display:flex;" class="mx-3">
                                    <a href="{% url 'ver' id=prev.0.id nombre=episode.anime.slug %}" class="ver-anime-btn icon" style="color: var(--main-bg-color);">
                                        <span class="icon">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}

                            <div style="display:flex;" class="mx-3">
                                <a href="{% url 'anime' id=episode.anime_id nombre=episode.anime.slug %}" class="ver-anime-btn icon" style="color: var(--main-bg-color);">
                                    <span class="icon">
                                        <i class="fas fa-list-ul"></i>
                                    </span>
                                </a>
                            </div>
                            {% if sig.0.id != None %}
                                <div style="display:flex;" class="mx-3">
                                    <a href="{% url 'ver' id=sig.0.id nombre=episode.anime.title %}" class="ver-anime-btn icon" style="color: var(--main-bg-color);">
                                        <span class="icon">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="fansub-btn" style="display:flex;">
                            {% if episdoe.fsLink != None %}
                            <a href="{{episode.fsLink}}" target="_blank" class="button is-primary is-outlined">
                                <span class="icon">
                                    <i class="fas fa-external-link-square-alt"></i>
                                </span>
                                <span>
                                    Fansub
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-8">
                <div id="disqus_thread"></div>


            </div>
          </div>
    </div>
</section>


<script>
var $jscomp=$jscomp||{};$jscomp.scope={};$jscomp.arrayIteratorImpl=function(a){var b=0;return function(){return b<a.length?{done:!1,value:a[b++]}:{done:!0}}};$jscomp.arrayIterator=function(a){return{next:$jscomp.arrayIteratorImpl(a)}};$jscomp.makeIterator=function(a){var b="undefined"!=typeof Symbol&&Symbol.iterator&&a[Symbol.iterator];return b?b.call(a):$jscomp.arrayIterator(a)};$jscomp.arrayFromIterator=function(a){for(var b,c=[];!(b=a.next()).done;)c.push(b.value);return c};
$jscomp.arrayFromIterable=function(a){return a instanceof Array?a:$jscomp.arrayFromIterator($jscomp.makeIterator(a))};function getServerlink(a,b){$.ajax({url:decodeURI('{% url "getServerlink" %}'),headers:{"X-CSRFToken":"{{ csrf_token }}"},type:"POST",data:{id:a,server:b}}).done(function(c){$("#framez").attr("src",c)}).fail(function(c){})}
var tabsWithContent=function(){var a=document.querySelectorAll(".tabs li"),b=document.querySelectorAll(".tab-content"),c=function(){a.forEach(function(d){d.classList.remove("is-active")})},f=function(d){return[].concat($jscomp.arrayFromIterable(d.parentElement.children)).indexOf(d)};a.forEach(function(d){d.addEventListener("click",function(){c();document.querySelectorAll(".iframe").forEach(function(e){e.src=e.src});d.classList.add("is-active");b[f(d)].classList.add("is-active")})});a[0].click()}();
</script>
<script>
    var disqus_config = function () {
        this.page.url = '{% url "ver" id=episode.anime.slug nombre=episode.anime.slug %}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ episode.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://utama.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endblock %}