{% extends 'utama/layout.html' %}

{% block content %}

<title>{{episode.title}} Episodio {{episode.episode}} Sub Español - Utama</title>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
              <!-- anime name -->
                <div class="name-container block" style="display: inline-flex;width: 100%;flex-wrap: nowrap;justify-content: space-between; align-items: center;">
                    <div class="name-container-names" style="display: flex; flex-direction: column;">
                        <h1 class="subtitle is-4 has-text-left" style="font-style:normal; font-weight:800; padding: 3px; font-family: Montserrat; font-style: normal; color: var(--main-text-color-hover); margin-bottom: 0;">
                            {{episode.title}} - {{episode.episode}}
                        </h1>
                        <h2 class="subtitle is-6 has-text-left block" style="font-style:normal; font-weight:800; padding: 3px; font-family: Montserrat; font-style: normal; color: var(--main-text-color);">
                            {{episode.titleEn}} - {{episode.episode}}
                        </h2>
                    </div>
                </div>
                <div id="tabs-with-content" class="close">
                    <div class="tabs" >
                      <ul>
                        {% for server in servers %}
                            <li>
                                <a  id="tab" onclick="getServerlink({{ episode.id }}, '{{ server.server }}')">{{ server.server}}</a>
                            </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div>

                        <section  class="tab-content block videoWrapper" style="padding: 0; position: relative; padding-bottom: 56.25%;  padding-top: 25px; height: 0;">
                            <iframe id="framez"  class="iframeWrapper iframe" width="640"  src="" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0"></iframe>
                        </section>

                    </div>
                    <div style="display: inline-flex; align-items: center; justify-content: space-between; flex-direction: row; width: 100%;">
                        <div class="left-container is-4" style="display: flex; flex-direction: row; align-items: center;">
                            
                            {% if prev.id != None %}
                                <div style="display:flex;" class="mx-3">
                                    <a href="{% url 'ver' id=prev.id %}" class="ver-anime-btn icon" style="color: var(--main-bg-color);">
                                        <span class="icon">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}

                            <div style="display:flex;" class="mx-3">
                                <a href="{% url 'anime' id=episode.anime_id nombre=episode.title %}" class="ver-anime-btn icon" style="color: var(--main-bg-color);">
                                    <span class="icon">
                                        <i class="fas fa-list-ul"></i>
                                    </span>
                                </a>
                            </div>
                            {% if next.id != None %}
                                <div style="display:flex;" class="mx-3">
                                    <a href="{% url 'ver' id=next.id %}" class="ver-anime-btn icon" style="color: var(--main-bg-color);">
                                        <span class="icon">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="fansub-btn" style="display:flex;">
                            {% if episdoe.fsLink != None %}
                            <a href="{{episode.fsLink}}" target="_blank" class="button is-primary is-outlined">
                                <span class="icon">
                                    <i class="fas fa-external-link-square-alt"></i>
                                </span>
                                <span>
                                    Fansub
                                </span>
                            </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

          </div>
    </div>
</section>

<script>


    function getServerlink(id, server) {
        $.ajax(
            {
                type:"POST",
                url: decodeURI('{% url "getServerlink" %}'),
                data: {
                    id: id,
                    server: server
                },

            })
            .done(function(data) {
                console.log(data);
                $('#framez').attr('src', data);
            })
            .fail(function(data) {
                console.log(data);
            })
    }
</script>


<script>
    
    let tabsWithContent = (function () {
        let tabs = document.querySelectorAll('.tabs li');
        let tabsContent = document.querySelectorAll('.tab-content');
        
        // create iframe

        let deactvateAllTabs = function () {
          
          tabs.forEach(function (tab) {
            tab.classList.remove('is-active');
            
          });
        };

        let hideTabsContent = function () {
          
          tabsContent.forEach(function (tabContent) {
            tabContent.classList.remove('is-active');
            
          });
        };

        let activateTabsContent = function (tab) {
          tabsContent[getIndex(tab)].classList.add('is-active');
        };

        let getIndex = function (el) {
          return [...el.parentElement.children].indexOf(el);
        };

        tabs.forEach(function (tab) {
          tab.addEventListener('click', function () {
            deactvateAllTabs();
            // reload all items with classname iframe
            let iframe = document.querySelectorAll('.iframe');
            iframe.forEach(function (item) {
              item.src = item.src;
            });
            tab.classList.add('is-active');
            activateTabsContent(tab);
          });
        })

        // another click
        tabs[0].click();
      })();
</script>
    
{% endblock %}