@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');

/* define primary colors */
:root{
    --main-bg-color:#171717;
    --seondary-bg-color:#444444;
    --main-text-color: #bdbdbd;
    --main-text-color-hover: #FFF;
    --main-primary-color: #da0037;
}
img { height:100%; width:auto; }
html{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.border-radius{
    border-radius: 5px;
}
.box-shadow{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}
.zoom-out {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.zoom-out:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.zoom-out-container {
    overflow: hidden;
    position: relative;
}
/* position anime-ep overlay of image bottom center*/
.anime-info {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 50;
    padding-bottom: 5px;
    padding-left: 5px;
}
.anime-ep {
    /* overlay top right corner with background */
    background: var(--main-primary-color);
    color: #fff;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    /* shadow */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    


}
.a-container{
    color: var(--main-text-color-hover);
}

.logo{
    border-bottom: 3px solid var(--main-primary-color);
    left: 0;
    right: 0;
    bottom: 0;
}
.logo:after{
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--main-primary-color);
}
.dark-effect{
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
.dark-effect:hover{
    opacity: 0.9;

}
.slider-cover:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    background: -moz-linear-gradient(90deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: -webkit-linear-gradient(90deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: linear-gradient(90deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
}
.slider-cover:after {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    background: -moz-linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: -webkit-linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);

}


/* colocalo encima de slider-cover */
.slider-title {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.slide-content-item{
    padding: 10px;
    text-align: center;
}
.slide-content-item-title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}
.slide-content-item-subtitle{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}
.slide-content-item-description{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.slide-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding-left: 5%;
}


.tabs>ul{
    justify-content: space-around;
}
.tabs ul {
    border-bottom: 1px solid var(--main-primary-color);
    
}


#tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}
  
#tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
}

#tabs-with-content .tab-content.is-active {
    display: block;
}

.is-gap-2 {
    gap: 2%;
}
.is-gap-5 {
    gap: 5%;
}
.is-gap-10 {
    gap: 10%;
}

.input-search{
    background-color: transparent;
    border: none;
    color: var(--main-text-color);
    font-size: 1.2em;
    padding: 0.5rem;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.input-search:focus{
    outline: none;
    border-bottom: 1px solid var(--main-primary-color);
}
.input-search:focus::placeholder{
    color: var(--main-primary-color);
}
.input-search::placeholder{
    color: var(--main-text-color);
}
.btn-search {
    background-color: var(--main-primary-color);
    border: none;
    border-radius: 50%;
    color: var(--main-bg-color);
    cursor: pointer;
    font-size: 1.2em;
    height: 40px;
    padding: 0.5rem;
    width: 40px;
    transition: all 0.5s ease-in-out;
}

.btn-search:focus{
    outline: none;
}
.btn-search:focus::placeholder{
    color: var(--main-primary-color);
}
.btn-search::placeholder{
    color: var(--main-bg-color);
}

.search-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.image-cover::before{
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.image-cover:after {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    background: -moz-linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: -webkit-linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 20%,rgba(23,23,23,0) 40%,rgba(23,23,23,0) 80%,var(--main-bg-color) 100%);

}
.info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.ver-anime-btn{
    background-color: var(--main-primary-color);
    border: none;
    border-radius: 50%;
    color: var(--main-bg-color);
    cursor: pointer;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
.iframeWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 5);
    -webkit-box-orient: vertical;
    word-break: var(--word-break, "none");
    overflow: hidden;
  }
/* personaliza select-style con los colores de la pagina */
.select-style {
    border: 1px solid var(--main-primary-color);
    border-radius: 4px;
    overflow: hidden;
    background: var(--main-bg-color);
    background: -moz-linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: -webkit-linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 25%,rgba(23,23,23,0) 50%,rgba(23,23,23,0) 75%,var(--main-bg-color) 100%);
    background: linear-gradient(0deg,var(--main-bg-color) 0,rgba(23,23,23,.4) 20%,rgba(23,23,23,0) 40%,rgba(23,23,23,0) 80%,var(--main-bg-color) 100%);
    color: var(--main-text-color);
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s ease-in-out;
    margin-bottom: 1rem;
}
.select-style:focus {
    border-color: var(--main-primary-color);
    outline: none;
}
.select-style:focus::-ms-value {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style:focus::-moz-placeholder {
    color: var(--main-primary-color);
    opacity: 1;
}
.select-style:focus:-moz-placeholder {
    color: var(--main-primary-color);
    opacity: 1;
}
.select-style:focus:-ms-input-placeholder {
    color: var(--main-primary-color);
}
.select-style:focus::-webkit-input-placeholder {
    color: var(--main-primary-color);
}
/* custom select-style>option */
.select-style option {
    color: var(--main-text-color);
    background: var(--main-bg-color);
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5rem;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.select-style option:hover {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style option:focus {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style option:checked {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style option:checked:hover {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style option:checked:focus {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style option:checked:active {
    color: var(--main-primary-color);
    background: var(--main-bg-color);
}
.select-style option:disabled {
    color: var(--main-text-color);
    background: var(--main-bg-color);
}
.select-style option:disabled:hover {
    color: var(--main-text-color);
    background: var(--main-bg-color);
}
.select-style option:disabled:focus {
    color: var(--main-text-color);
    background: var(--main-bg-color);
}

.btn-tag{
    background-color: transparent ;; 
    border: 1px solid var(--main-primary-color) ;
    color: var(--main-primary-color) ;
    text-shadow: 0 0 black;
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}
.btn-tag-active{
    background-color: var(--main-primary-color) !important;; 
    border: 1px solid var(--main-primary-color) !important;
    color: var(--main-text-color-hover) !important;
    text-shadow: 0 0 black !important;
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

#search-result{
    position: absolute; visibility: visible; background-color: var(--main-bg-color); border-radius: 10px; 
}

.broadcast-info{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* set results position relative in mobile */
@media screen and (max-width: 600px) {
    #search-result{
        position: relative;
    }
    .search-container{
        width: 100%;
    }
}
/* set results position relative in tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
    #search-result{
        position: relative;
    }
    .search-container{
        width: 100%;
    }
}
/* set results position absolute in desktop */
@media screen and (min-width: 900px) {
    #search-result{
        position: relative;
    }
    .search-container{
        width: 100%;
    }
}
/* set results position absolute in desktop */
@media screen and (min-width: 1024px) {
    #search-result{
        position: absolute;
    }
}